@tailwind base;
@tailwind components;
@tailwind utilities;

.custBg {
  background-color: #050505;
}
.custColorText {
  color: #eeeeee;
}
.custColorBlack {
  color: #050505;
}
.custColorYellow {
  color: #fcd44c;
}
